/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Jan 4, 2018, 6:14:43 PM
    Author     : mattpeternell
*/
@font-face {
  font-family: 'roboto_condensedregular';
  src: url("../fonts/robotocondensed-regular-webfont.woff2") format("woff2"), url("../fonts/robotocondensed-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'robotoregular';
  src: url("../fonts/roboto-regular-webfont.woff2") format("woff2"), url("../fonts/roboto-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
body.delay-fade {
  overflow: hidden; }

body {
  background-color: transparent;
  color: #fff;
  font-size: 16px;
  font-family: 'robotoregular';
  margin: 0;
  padding: 0;
  position: relative; }

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 5376px;
  height: 608px; }

.data-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 5376px;
  height: 608px;
  z-index: 1; }

#my_video {
  position: absolute;
  top: 50%;
  left: 2031px;
  transform: translateY(-50%);
  z-index: 2;
  height: 608px;
  width: 608px; }

#my_video_url {
  position: absolute;
  top: 50%;
  left: 2031px;
  transform: translateY(-50%);
  z-index: 2;
  height: 608px;
  width: 608px;
  text-align: center; }

.grid__1-column {
  box-sizing: border-box;
  box-shadow: 4px 1px 15px rgba(0, 0, 0, 0.7);
  width: 15.188em;
  height: 29.063em;
  float: left;
  margin-right: 4.813em;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#445266+0,818fa3+100 */
  background: #4b5f7c;
  /* Old browsers */
  background: -moz-linear-gradient(top, #445266 0%, #818fa3 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #445266 0%, #818fa3 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #445266 0%, #818fa3 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  border: 3px solid #7c7c7c;
  padding: 1.688em 1em; }
  .grid__1-column:last-child {
    margin-right: 0; }

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  width: 100%; }

.time-stamp {
  margin-top: 2rem; }

.observation-list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center; }
  .observation-list .obs-date {
    font-size: 6.250em;
    font-family: 'roboto_condensedregular';
    position: relative;
    margin-bottom: 2.750rem; }
    .observation-list .obs-date:after {
      content: '';
      background-color: transparent;
      width: 30.625rem;
      height: 1px;
      border-bottom: 5px solid #fff;
      position: absolute;
      bottom: -1rem;
      left: 50%;
      transform: translateX(-50%); }
  .observation-list .obs-temp {
    font-family: 'roboto_condensedregular';
    font-size: 5.000em; }
    .observation-list .obs-temp .cel, .observation-list .obs-temp .far {
      font-family: 'roboto_condensedregular' !important; }
  .observation-list .obc-icon {
    font-family: 'roboto_condensedregular';
    font-size: 3.125rem;
    text-transform: capitalize; }

.current-date {
  position: absolute;
  top: 52px;
  font-size: 7.250em;
  text-shadow: 2px 2px 7px rgba(0, 0, 0, 0.75);
  line-height: 1; }
  .current-date.top-left {
    left: 52px; }
  .current-date.top-right {
    right: 52px; }

.current-time {
  position: absolute;
  bottom: 52px;
  width: auto;
  overflow: visible;
  text-shadow: 2px 2px 7px rgba(0, 0, 0, 0.75); }
  .current-time.bottom-left {
    left: 52px; }
  .current-time.bottom-right {
    right: 52px; }
  .current-time .time {
    width: auto;
    font-size: 7.250em;
    float: left;
    padding-right: 0.5rem;
    line-height: 1;
    letter-spacing: 0.02rem; }
  .current-time .day-period {
    float: left;
    width: 4rem;
    padding-left: 0.50em;
    padding-top: 1.50em; }
  .current-time .am, .current-time .pm {
    color: #999;
    font-size: 2.313em;
    line-height: 1;
    letter-spacing: 0.02rem;
    opacity: 0.30; }
  .current-time .am.current {
    color: #fff;
    opacity: 1; }
  .current-time .pm.current {
    color: #fff;
    opacity: 1; }

.current-obs {
  position: absolute;
  left: 1350px;
  top: 50%;
  width: 37.500em;
  height: auto;
  overflow: auto;
  transform: translateY(-50%); }

.forecast-list {
  position: absolute;
  left: 2751px;
  top: 50%;
  transform: translateY(-50%);
  text-align: center; }
  .forecast-list span {
    font-family: 'roboto_condensedregular';
    display: block;
    font-size: 12px; }
  .forecast-list .weekday-name {
    font-size: 2.25rem;
    font-family: 'roboto_condensedregular';
    line-height: 1.25;
    margin-bottom: 0.5rem; }
  .forecast-list .month-name {
    display: none; }
  .forecast-list .date-name {
    font-family: 'roboto_condensedregular';
    font-size: 3.438em; }
  .forecast-list .temp-data {
    font-family: 'roboto_condensedregular';
    font-size: 1.25em;
    line-height: 1.25; }
    .forecast-list .temp-data.low {
      margin-bottom: 1rem; }
    .forecast-list .temp-data.high {
      margin-bottom: 0.5rem; }
  .forecast-list .conditions {
    font-family: 'roboto_condensedregular';
    font-size: 1.563em;
    line-height: 1.25;
    margin-bottom: 1.5rem; }

@keyframes catwalk {
  0% {
    background-position: 0 0; }
  100% {
    background-position: 0 -4050px; } }
.weather-icon {
  height: 135px;
  width: 135px;
  margin: 0 auto;
  animation: catwalk 1.75s steps(30) infinite;
  /* The Animation */
  -moz-animation: catwalk 1.75s steps(30) infinite;
  -webkit-animation: catwalk 1.75s steps(30) infinite; }

.icon-chanceflurries {
  background-image: url(../images/icons-forcast/sheet_ChanceFlurries.png); }

.icon-chancerain {
  background-image: url(../images/icons-forcast/sheet_ChanceRain.png); }

.icon-chancehail {
  background-image: url(../images/icons-forcast/sheet_ChanceHail.png); }

.icon-chancesleet {
  background-image: url(../images/icons-forcast/sheet_Unknown.png); }

.icon-chancesnow {
  background-image: url(../images/icons-forcast/sheet_ChanceSnow.png); }

.icon-chancetstorms {
  background-image: url(../images/icons-forcast/sheet_ChanceThunderstorms.png); }

.icon-clear {
  background-image: url(../images/icons-forcast/sheet_Clear.png); }

.icon-cloudy {
  background-image: url(../images/icons-forcast/sheet_Cloudy.png); }

.icon-flurries {
  background-image: url(../images/icons-forcast/sheet_Flurries.png); }

.icon-fog {
  background-image: url(../images/icons-forcast/sheet_Fog.png); }

.icon-hazy {
  background-image: url(../images/icons-forcast/sheet_Haze.png); }

.icon-mostlycloudy {
  background-image: url(../images/icons-forcast/sheet_MostlyCloudy.png); }

.icon-mostlysunny {
  background-image: url(../images/icons-forcast/sheet_PartlyCloudy.png); }

.icon-partlycloudy {
  background-image: url(../images/icons-forcast/sheet_PartlyCloudy.png); }

.icon-partlysunny {
  background-image: url(../images/icons-forcast/sheet_Unknown.png); }

.icon-unknown {
  background-image: url(../images/icons-forcast/sheet_Unknown.png); }

.icon-sleet {
  background-image: url(../images/icons-forcast/sheet_FreezingRain.png); }

.icon-rain {
  background-image: url(../images/icons-forcast/sheet_Rain.png); }

.icon-snow {
  background-image: url(../images/icons-forcast/sheet_Snow.png); }

.icon-sunny {
  background-image: url(../images/icons-forcast/sheet_Sunny.png); }

.icon-tstorms {
  background-image: url(../images/icons-forcast/sheet_Tstorms.png); }

.icon-unknown {
  background-image: url(../images/icons-forcast/sheet_Unknown.png); }

.icon-smoke {
  background-image: url(../images/icons-forcast/sheet_Smoke.png); }

.icon-windy {
  background-image: url(../images/icons-forcast/sheet_Windy.png); }

.icon-tornado {
  background-image: url(../images/icons-forcast/sheet_Tornado.png); }

.icon-lightraindrizzle {
  background-image: url(../images/icons-forcast/sheet_LightRainDrizzle.png); }

.icon-hurricane {
  background-image: url(../images/icons-forcast/sheet_Hurricane.png); }

.icon-heavyrain {
  background-image: url(../images/icons-forcast/sheet_HeavyRain.png); }

.icon-hail {
  background-image: url(../images/icons-forcast/sheet_Hail.png); }

.icon-rainsnow {
  background-image: url(../images/icons-forcast/sheet_RainSnow.png); }

.icon-overcast {
  background-image: url(../images/icons-forcast/sheet_Overcast.png); }

.icon-freezingrain {
  background-image: url(../images/icons-forcast/sheet_FreezingRain.png); }

.icon-container {
  width: 100%;
  background-color: black;
  padding: 10% 0;
  overflow: auto; }
  .icon-container ul {
    max-width: 1280px;
    margin: 0 auto;
    width: 100%;
    list-style: none;
    overflow: auto;
    padding: 0; }
    .icon-container ul li {
      float: left;
      margin-right: 2em;
      margin-bottom: 2em;
      border: 1px solid #ccc;
      text-align: center;
      color: #fff;
      height: 215px;
      width: 135px; }
      .icon-container ul li span {
        display: block;
        font-size: 12px;
        margin-top: 5px; }
      .icon-container ul li .file {
        font-size: 10px; }

/*# sourceMappingURL=style.css.map */
